body { background: #1C232E; color: #BAD2DC; }
#footer, #footer.footer_msg_input { background: #1C232E; color: #BAD2DC; box-shadow: inset 1px 0 0 0 #222; }
.p-channel_sidebar { background-color: #1C232E; color: #BAD2DC; }
.c-message_list__day_divider__line { border-top-color: #2F3846; }
.c-message_list__day_divider__label__pill { background: #222; position: relative; }